.body {
    background-color: #ffffff;
    color: #000;
    font-style: "Raleway",sans-serif;
}


.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    
}

.header__menu {
    display: grid;
    place-items: center start;
    font-size: 18px;
    text-underline-offset: 4px;
} 

.header__links-list {
    display: flex;
    column-gap: 33px;
    margin-right: 36px;
    list-style: circle;
    padding-bottom: 10px;
}    

.header__links-list-item_no-bullit {
    list-style: none;

}
  
.header__logo-image {
    display: block;
    align-content: start;
}


.header__logo {
    display: block;
    width: 137px;
    height: 110px;
    align-content: start;
}

.header__address { 
    justify-self: end;
    padding-right: 36px;
    padding-bottom: 4px;
}

.address {
    /* justify-self: start; */
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}
.address__item {
    border-bottom: 1px solid;
    text-decoration: none;
}

.cover {
     background-image: url(../images/cover.jpg);
     min-width: 100%;
     position: relative;
     padding: 165px 50px 50px;
     text-transform: uppercase;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: 0; */
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif; /*добавил без засечек*/
    font-style:normal;
    /* padding-left: 10px; */
    line-height: 1.15;
    font-weight: 700;
}

.letter-spacing-extended {
    display: block;
    line-height: 1.4;

    letter-spacing: 0.3em;
}

.aligned-text_left {
    text-align: left;
    margin-bottom: -10px;
}

.aligned-text_center {
    text-align: center;
    margin-left: 30px;
    margin-top: -20px;
    /* position: relative; */
    /* top: -17px;
    left: 11px; */
}

.aligned-text_right {
    text-align: right;
    margin-right: -29px;

}

.cover__description {
    display: flex;
    z-index: 1;
    align-items: center;
    padding: 84px 0 0 ;
    position: relative;
    /* font-size: 22px; */
    /* gap: 78px;
    left: 2px;         */
}

.cover__description-text {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #ffffff;
    padding: 12px 32px;
    color:#ffffff;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: Raleway, sans-serif;
    position: relative;
    left: 30px;
    margin-left: 80px;

}

.lots {
    margin: 180px 24px 120px;              
}

.lots__heading {
    padding: 0 40px;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
    background-color: #000;
    background-position: center;
    background-size: cover;
}

.card__title {
    z-index: 1;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    z-index: 1;
    font-size: 20px;
}
/* относительные пути до файлов исправлены */
.card__type__film {
    background-image: url(../images/card-lot-01.jpg)
}

.card__type__book {
    background-image: url(../images/card-lot-02.jpg)
}

.card__type__picture {
    background-image: url(../images/card-lot-03.jpg)
}

.lots__look-more-link {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    border-bottom: 1px solid;
    text-decoration: none;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 27px;          */
    /* margin-bottom: 156px; */
    margin: 155px 2px 190px 30px;
}

.about__column_text {
    grid-column: span 2;
}


.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin: 102px 2px;
    font-size: 40px;
    text-transform: uppercase;

    font-weight: 700;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;     
    font-size: 20px;
    padding-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 80px;
    

}

.footer_links-list {
    font-size: 18px;
    text-align: center;
    list-style: none;
}

.footer_link {
    border-bottom: 1px solid;
    text-decoration: none;
}
  
.footer_social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
}
  
.footer_social-icon {
    width: 48px;
    height: 48px;
}
  

/* .address a { адрес смог совместить только эти 2 стиля, 
так как в шапке с правой стороны,а в подвале с левой стороны,и перенос цыфр так же, либо я уже не знаю как это сделать)
    border-bottom: 1px solid;
    text-decoration: none;
} */


/*ссылке главная в шапке и подвале создал один стиль */
.link-active {
    text-decoration: none;
    border-bottom: none;
}



/* Не судите строго......косяков много,все постепенно))
хорошего утра,дня,вечера */

/*уже почти сломался))) Никита при всем уважении к тебе, сделал 
все возможное, в лотах не пойму как ровный отступ параграфа сделать, 
а так по макету все почти сходится, но не идеально конечно*/