.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 90px 50px;
    width: 1100px;
    gap: 2px 1px;
}

.header__menu {
    display: grid;
    place-items: center start;
    font-size: 18px;
    text-underline-offset: 4px;
} 

.header__links-list {
    display: flex;
    column-gap: 33px;
    margin-right: 36px;
    list-style: circle;
}    

.header__links-list-item {
    list-style: circle;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;

    text-decoration: none;
}
  
.header__links-list-item_no-active {
    text-decoration: none;
}  
  
.header__logo-image {
    display: block;
    align-content: start;
}
   
    
.header__logo {
    display: block;
    width: 137px;
    height: 110px;
    align-content: start;
}

.header__address { 
    max-width: 260px;
    font-size: 18px;
    justify-self: end;
    font-style: normal;
    line-height: 1.35;
    padding-right: 37px;
}

.header__address a {
    border-bottom: 1px solid;
    text-decoration: none;
}

.cover {

    background-image: url(/images/cover.jpg);
    min-height: 750px;
    position: relative;
    padding: 165px 50px 50px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0/0.6);
    height: 100%;
}

.cover__title {
    position: relative;
    z-index: 2;
    margin-bottom: 160px;
    color: #fff;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-family: Raleway, sans-serif; /*добавил без засечек*/
    font-style: normal;

    padding-left: 4px;

}

.letter-spacing-extended {
    display: block;
    letter-spacing: 26px;
    display: block;
    margin-top: 30px;
    line-height: 1;

    padding-top: 1px;
    padding-bottom: 1px;

}

.aligned-text_center {
    text-align: center;

    display: block;
    margin-right: -0.1em; 
}

.aligned-text_right {
    text-align: right;

    display: block;
    margin-right: -0.1em; 
}

.cover__description {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
}

.cover__description-text {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #ffffff;
    padding: 12px 32px;
    color:#ffffff;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: Raleway, sans-serif;

}

.lots {
    padding: 180px 24px 0;
}

.lots__heading {
    padding: 0 40px;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
    background-color: #000;
    background-position: center;
    background-size: cover;
}

.card__title {
    z-index: 1;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    z-index: 1;
    font-size: 20px;
}

.card__type__film {
    background-image: url(/images/card-lot-01.jpg)
}

.card__type__book {
    background-image: url(/images/card-lot-02.jpg)
}

.card__type__picture {
    background-image: url(/images/card-lot-03.jpg)
}

.lots__look-more-link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    border-bottom: 1px solid;
    text-decoration: none;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;
    padding: 133px 24px;
}

.about__column_text {
    grid-column: span 2;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: auto;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 90px;
}

.footer_links-list {
    font-size: 18px;
    text-align: center;
    list-style: none;
}

.footer_link {
    border-bottom: 1px solid;
    text-decoration: none;
}
  
.footer_social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
}
  
.footer_social-icon {
    width: 48px;
    height: 48px;
}
  
.address {
    justify-self: start;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.address a {
    border-bottom: 1px solid;
    text-decoration: none;
}

.footer_link-active {
    border-bottom: none;
}

/* Не судите строго......косяков много,все постепенно))
хорошего утра,дня,вечера */